{{template "base" .}}

{{define "content"}}
<div class="mx-auto px-60">
    <h1 class="text-5xl text-blue-800">This is the home page</h1>
    <p
        >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, explicabo ratione! Fuga perspiciatis
        illo accusamus numquam voluptas mollitia, modi neque illum! Exercitationem praesentium vel alias dolore dicta?
        Ut, ab error.
    </p>
</div>
{{ end }}
